@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgd-color: rgb(8 145 178);
    --font-color: rgb(85 85 85);
    --padding: 4.5vw 6.5vw;
    --shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* CSS RESET STARTS HERE */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* CSS RESET ENDS HERE */

body {
    min-width: 300px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--font-color);
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}

h1 {
    font-size: clamp(4.5rem, 5vw, 6rem);
}

h2 {
    font-size: clamp(3rem, 4.5vw, 4rem);
}

h3 {
    font-size: clamp(1.3rem, 7vw, 2rem);
}

header {
    width: 100%;
    display: flex;
    padding: var(--padding);
    background: linear-gradient(
    168.5deg,
    var(--bgd-color) 71%,
    rgba(0, 0, 0, 0.1) 71.1%,
    white 71.2%
    );
}

.about-img {
    align-self: flex-start;
    flex: 2 0 auto;
    width: 45%;
    display: grid;
    grid-template-areas: "stack";
    place-items: start center;
    box-shadow: var(--shadow);
    z-index: 1;
}

.about-img picture {
    grid-area: stack;
    /* z-index: 1; */
}

.about-img h1 {
    grid-area: stack;
    place-self: end center;
    /* z-index: 1; */
    padding: 0 20px;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: var(--shadow);
    transition: transform 0.3s ease;
}

.about-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--shadow);
    margin: 90px 0 60px;
    padding: clamp(12px, 2.1vw, 40px);
}

.about-text h2 {
    margin-bottom: 1.6vw;
}

.about-text p {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin-bottom: clamp(1rem, 3vw, 2rem);
}

.about-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.about-icons img {
    width: clamp(2rem, 2.6vw, 3rem);
}

.about-icons > :first-child,
.about-icons > :nth-child(2) {
    margin-right: clamp(1.5rem, 2vw, 2.5rem);
}

.contact img,
.footer-icons img {
    max-width: 60px;
}

main {
    width: 100%;
    padding: var(--padding);
    margin: 0 auto 80px; 
}

main h2 {
    margin-bottom: 1vw;
}

.projects {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 4.2vw 3.1vw;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: clamp(20px, 3.5vw, 70px);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(3rem, 4.5vw, 4rem);
    color: white;
    aspect-ratio: 1.4 / 1;
}

.screenshot-1 {
    background-color: rgb(158 28 28);
}

.screenshot-2 {
    background-color: rgb(124 117 202);
}

.screenshot-3 {
    background-color: rgb(94 143 77);
}

.screenshot-4 {
    background-color: rgb(195 99 180);
}

.screenshot-5 {
    background-color: rgb(216 143 57);
}

.screenshot-6 {
    background-color: rgb(75 162 210);
}

.project-info {
    padding: 20px 30px 90px 30px;
}

.project-info h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.project-links {
    margin-left: 20px;
    display: inline-flex;
    gap: 20px;
}

.project-links img {
    width: clamp(26px, 2.5vw, 36px);
    vertical-align: middle;
}

.project-info p {
    font-size: clamp(1.05rem, 2.2vw, 1.4rem);
    line-height: 1.2;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    gap: 10px;
    color: white;
    background-color: var(--bgd-color)
}

.contact address {
    font-style: normal;
}

.contact > * {
    margin-bottom: clamp(1rem, 3vw, 2rem);
}

.contact > *:not(:first-child) {
    font-size: clamp(1.1rem, 2.5vw, 2rem);
}

.contact h2 {
    color: white;
}

.phone,
.email {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 1rem);
    margin-bottom: clamp(1rem, 1.5vw, 1.2rem);
}

.phone img,
.email img {
    width: clamp(2rem, 3vw, 2.6rem);
}

.footer-icons {
    display: flex;
    margin-top: clamp(1.2rem, 2.5vw, 2.6rem);
}

.footer-icons > :first-child,
.footer-icons > :nth-child(2) {
    margin-right: 40px; 
}

@media (max-width: 1430px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
    }
    .about-icons {
        display: none;
    }
}

@media (max-width: 710px) {
    h2 {
        text-align: center;
    }
    header {
        flex-direction: column;
        background: linear-gradient(
        144deg,
        var(--bgd-color) 40%,
        rgba(0, 0, 0, 0.1) 40.1%,
        white 40.2%
        );
    }
    .about-img {
        width: 100%;
    }
    .about-icons {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .about-text {
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    footer {
        flex-direction: column;
        padding: 0px;
    }
    .contact {
        padding: var(--padding);
    }
    .contact > div:first-of-type {
        font-size: 1.5rem;
    }
    .phone,
    .email {
        gap: 0;
    }
    .phone img,
    .email img {
    display: none;
    }
    .footer-icons {
        justify-content: center;
    }
    picture img {
        width: 100%;
        height: auto;
        display: block;
    }
}